<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSP Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <h1>Travelling Salesman Problem Solver</h1>
    <div class="container">
        <div class="form-container">
            <form id="nodes-form" method="post">
                <div style="display: flex; align-items: center;">
                    <label for="nodes" style="margin-right: 10px;">Enter the number
                        of cities:</label>
                    <input type="number" id="nodes" name="nodes" min="2" required>
                    <button type="button" onclick="generateMatrixInputs()">Generate
                        Distance Matrix</button>
                </div>
            </form>
            <form id="matrix-form" method="post" style="display: none;">
                <div id="graphContainer"></div>
                <input type="hidden" id="nodes-hidden" name="nodes" value="">
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </div>
        <div class="result-container">
            {% if output %}
            <h2>Input Distance Matrix</h2>
            <table>
                <tr>
                    <th>From/To</th>
                    {% for j in range(output.input_matrix|length) %}
                    <th>City {{ j + 1 }}</th>
                    {% endfor %}
                </tr>
                {% for i in range(output.input_matrix|length) %}
                <tr>
                    <th>City {{ i + 1 }}</th>
                    {% for j in range(output.input_matrix[i]|length) %}
                    <td>{{ output.input_matrix[i][j] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h2>Minimum Path Results</h2>
            <p>Path Taken: {{ output.path }}</p>
            <p>Minimum cost: {{ output.cost }}</p>
            <h3>Path Details:</h3>
            <table style="width: 50%; margin: auto;">
                <tr>
                    <th>Segment</th>
                    <th>Cost</th>
                </tr>
                {% for segment in output.segments.split(', ') %}
                <tr>
                    <td>{{ segment.split(' = ')[0] }}</td>
                    <td>{{ segment.split(' = ')[1] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
    <script>
        function generateMatrixInputs() {
            const nodes = document.getElementById('nodes').value;
            document.getElementById('nodes-hidden').value = nodes;
            const graphContainer = document.getElementById('graphContainer');
            graphContainer.innerHTML = ''; // Clear previous inputs
            for (let i = 0; i < nodes; i++) {
                graphContainer.innerHTML += `<h4>Distances from City ${i +
                    1}</h4>`;
                const rowDiv = document.createElement('div');
                rowDiv.classList.add('distance-input-row');
                for (let j = 0; j < nodes; j++) {
                    const label = document.createElement('label');
                    label.setAttribute('for', `weight_${i}_${j}`);
                    label.textContent = `To City ${j + 1}:`;
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.id = `weight_${i}_${j}`;
                    input.name = `weight_${i}_${j}`;
                    input.defaultValue = '∞';
                    rowDiv.appendChild(label);
                    rowDiv.appendChild(input);
                }
                graphContainer.appendChild(rowDiv);
            }
            document.getElementById('matrix-form').style.display = 'block';
        }
    </script>
</body>

</html>